Repository ashtkn/react-firebase-example: changes, and which lefthook commands are due for each by the changed paths.
All: format, tsc-common, eslint-common, prettier-common, tsc-functions, eslint-functions, prettier-functions, tsc-web, eslint-web, prettier-web, fmt-terraform

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: '**/*'
      run: npm run format {staged_files}
      stage_fiexed: true

    tsc-common:
      glob: 'packages/common/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm common lint:tsc
      stage_fiexed: true
    eslint-common:
      glob: 'packages/common/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm common lint:eslint
      stage_fiexed: true
    prettier-common:
      glob: 'packages/common/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm common lint:prettier
      stage_fiexed: true

    tsc-functions:
      glob: 'apps/functions/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm functions lint:tsc
      stage_fiexed: true
    eslint-functions:
      glob: 'apps/functions/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm functions lint:eslint
      stage_fiexed: true
    prettier-functions:
      glob: 'apps/functions/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm functions lint:prettier
      stage_fiexed: true

    tsc-web:
      glob: 'apps/web/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm web lint:tsc
      stage_fiexed: true
    eslint-web:
      glob: 'apps/web/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm web lint:eslint
      stage_fiexed: true
    prettier-web:
      glob: 'apps/web/src/**/*.{js,ts,jsx,tsx}'
      run: pnpm web lint:prettier
      stage_fiexed: true

    fmt-terraform:
      glob: 'terraform/**/*.tf'
      run: terraform fmt {staged_files}
      stage_fiexed: true

docs: update README.md
  README.md
Due: none

refactor: express api
  apps/functions/src/api/health/index.ts
  apps/functions/src/index.ts
  apps/functions/src/router.ts
Due: format, tsc-functions, eslint-functions, prettier-functions

feat: create /public api
  apps/functions/src/api/public/index.ts
  apps/functions/src/lib/firebase.ts
  apps/functions/src/router.ts
Due: format, tsc-functions, eslint-functions, prettier-functions

feat: create draft /private and /admin api
  apps/functions/src/api/admin/index.ts
  apps/functions/src/api/private/index.ts
  apps/functions/src/middleware/has-admin-role.ts
  apps/functions/src/middleware/verify-auth-token.ts
  apps/functions/src/router.ts
Due: format, tsc-functions, eslint-functions, prettier-functions

chore: use tsc instead of babel
  apps/functions/babel.config.js
  apps/functions/package.json
  firebase.json
  pnpm-lock.yaml
Due: format

chore: rename emulator to dev
  apps/functions/package.json
Due: format

chore: move resolve-tspaths from dependencies to devDependencies
  apps/functions/package.json
  pnpm-lock.yaml
Due: format

feat: install firebase on web app
  apps/web/.env.development
  apps/web/package.json
  apps/web/src/lib/firebase.ts
  apps/web/src/vite-env.d.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: format, tsc-web, eslint-web, prettier-web

feat: call APIs on backend
  apps/web/.env.development
  apps/web/src/App.tsx
  apps/web/src/components/AuthenticationTest.tsx
  apps/web/src/lib/api.ts
  apps/web/src/lib/firebase.ts
  apps/web/src/vite-env.d.ts
Due: format, tsc-web, eslint-web, prettier-web

feat: call admin APIs
  apps/functions/src/middleware/has-admin-role.ts
  apps/web/src/components/AuthenticationTest.tsx
  apps/web/src/lib/api.ts
Due: format, tsc-functions, eslint-functions, prettier-functions, tsc-web, eslint-web, prettier-web
